<div class="drawer">
  <input id="drawer-input" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <app-navbar></app-navbar>
    <div class="m-10">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side">
    <label for="drawer-input" class="drawer-overlay"></label>
    <div class="bg-primary w-80 h-full text-base-content p-0 flex flex-col">
      <div class="flex p-4 pb-0 items-center h-20">
        <img
          src="https://angular-material.fusetheme.com/assets/images/logo/logo.svg"
          class="mr-5"
        />
        <a class="normal-case text-xl font-bold text-white">YuiSoft</a>
      </div>

      <div class="menu p-4 overflow-y-auto">
        <ul class="">
          <li class="my-1">
            <!-- https://angular-material.fusetheme.com/ui/material-components -->
            <a
              [routerLink]="['/dashboard']"
              routerLinkActive="active"
              class="text-gray-500"
            >
              <i class="uil uil-estate"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="my-1">
            <details [open]="activeSubmenu === 'CATALOGOS'">
              <summary>
                <a class="text-gray-500 flex">
                  <i class="uil uil-chart mr-2"></i>
                  <p>Catálogos</p>
                </a>
              </summary>
              <ul>
                <li class="my-1 transition ease-in-out">
                  <a
                    [routerLink]="['/catalogos/clientes']"
                    routerLinkActive="active"
                    class="text-gray-500"
                  >
                    <i class="uil uil-estate"></i>
                    <p>Clientes</p>
                  </a>
                </li>
              </ul>
            </details>
          </li>

          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-bell"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-chart-pie"></i>
              <p>Anaytics</p>
            </a>
          </li>
          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-heart"></i>
              <p>Likes</p>
            </a>
          </li>
          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-wallet"></i>
              <p>Wallets</p>
            </a>
          </li>

          <p class="px-4 py-2 uppercase font-bold text-success">Otra sección</p>

          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-estate"></i>
              <p>Menú</p>
            </a>
          </li>
          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-chart"></i>
              <p>Menú</p>
            </a>
          </li>
          <li class="my-1">
            <a class="text-gray-500">
              <i class="uil uil-bell"></i>
              <p>Menú</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
