<div
  class="w-full flex justify-between items-center flex-wrap overflow-x-auto p-1"
>
  <div class="stat-wrapper w-full sm:w-6/12 md:w-3/12 mb-3 pr-3">
    <div class="stats shadow overflow-hidden w-full">
      <div class="stat">
        <div class="stat-figure text-error">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-8 h-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Total Likes</div>
        <div class="stat-value text-error">25.6K</div>
      </div>
    </div>
  </div>

  <div class="stat-wrapper w-full sm:w-6/12 md:w-3/12 mb-3 pr-3">
    <div class="stats shadow overflow-hidden w-full">
      <div class="stat">
        <div class="stat-figure text-success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-8 h-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Page Views</div>
        <div class="stat-value text-success">2.6M</div>
      </div>
    </div>
  </div>

  <div class="stat-wrapper w-full sm:w-6/12 md:w-3/12 mb-3 pr-3">
    <div class="stats shadow overflow-hidden w-full">
      <div class="stat">
        <div class="stat-figure text-warning">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-8 h-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Page Views</div>
        <div class="stat-value text-warning">2.6M</div>
      </div>
    </div>
  </div>

  <div class="stat-wrapper w-full sm:w-6/12 md:w-3/12 mb-3">
    <div class="stats shadow overflow-hidden w-full">
      <div class="stat">
        <div class="stat-figure text-info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-8 h-8 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 10V3L4 14h7v7l9-11h-7z"
            ></path>
          </svg>
        </div>
        <div class="stat-title">Page Views</div>
        <div class="stat-value text-info">2.6M</div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap justify-between">
  <div class="chart-wrapper mb-5 md:pr-5 w-full md:w-6/12">
    <app-card>
      <apx-chart
        [series]="lineChartOptions.series"
        [chart]="lineChartOptions.chart"
        [xaxis]="lineChartOptions.xaxis"
        [title]="lineChartOptions.title"
      ></apx-chart>
    </app-card>
  </div>
  <div class="chart-wrapper mb-5 w-full md:w-6/12">
    <app-card>
      <apx-chart
        [series]="pieChartOptions.series"
        [chart]="pieChartOptions.chart"
        [title]="pieChartOptions.title"
      ></apx-chart>
    </app-card>
  </div>
</div>

<!-- sm:w-[250px] md:w-[250px] lg:w-[400px] -->

<!-- <app-alert
  [bgColor]="'bg-white'"
  [iconColor]="'text-blue-500'"
  [textColor]="'text-black'"
  [icon]="'uil-info-circle'"
></app-alert> -->

<!-- <button class="btn" (click)="o()">open modal</button> -->

<!-- <app-confirmation-modal [(modalVisible)]="visible" (result)="show($event)"></app-confirmation-modal> -->

<!-- <app-collapse></app-collapse> -->

<!-- <app-tabs [activeTabIndex]="0">
  <app-card></app-card>
</app-tabs>

<app-card>
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</app-card> -->

<!-- <app-loading-modal [loaderVisible]="l"></app-loading-modal> -->
