<div class="text-sm breadcrumbs">
  <ul>
    <li>
      <span>
        <i class="uil uil-chart"></i>
        Catálogos</span
      >
    </li>
    <li>
      <span>
        <i class="uil uil-estate"></i>
        Catálogos</span
      >
    </li>
  </ul>
</div>

<h1 class="text-2xl font-medium">Catálgo de clientes</h1>

<app-card>
  <div class="card-header w-full">
    <h3 class="font-bold text-lg">Filtra los clientes</h3>
    <hr />
  </div>
  <div class="body">
    <div class="flex flex-wrap w-full">
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">Nombre: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">RFC: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">Dirección: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">Nombre: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">Nombre: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control mb-3 sm:pr-5 w-full sm:w-6/12 md:w-3/12">
        <span class="label-text font-semibold">Nombre: </span>
        <input type="text" class="input input-sm input-bordered w-full" />
      </div>
    </div>

    <div class="w-full text-right mt-3">
      <hr class="mb-3" />
      <button class="btn btn-primary">Buscar</button>
    </div>
  </div>
</app-card>

<!-- <app-card> -->
<div class="overflow-x-auto mt-10">
  <table class="table table-primary">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Job</th>
        <th>Favorite Color</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">Hart Hagerty</div>
              <div class="text-sm opacity-50">United States</div>
            </div>
          </div>
        </td>
        <td>
          Zemlak, Daniel and Leannon
          <br />
          <span class="badge badge-ghost badge-sm"
            >Desktop Support Technician</span
          >
        </td>
        <td>Purple</td>
        <td>
          <button class="btn btn-ghost btn-xs">details</button>
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">Hart Hagerty</div>
              <div class="text-sm opacity-50">United States</div>
            </div>
          </div>
        </td>
        <td>
          Zemlak, Daniel and Leannon
          <br />
          <span class="badge badge-ghost badge-sm"
            >Desktop Support Technician</span
          >
        </td>
        <td>Purple</td>
        <td>
          <button class="btn btn-ghost btn-xs">details</button>
        </td>
      </tr>
      <!-- row 1 -->
      <tr>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img
                  src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                  alt="Avatar Tailwind CSS Component"
                />
              </div>
            </div>
            <div>
              <div class="font-bold">Hart Hagerty</div>
              <div class="text-sm opacity-50">United States</div>
            </div>
          </div>
        </td>
        <td>
          Zemlak, Daniel and Leannon
          <br />
          <span class="badge badge-ghost badge-sm"
            >Desktop Support Technician</span
          >
        </td>
        <td>Purple</td>
        <td>
          <button class="btn btn-ghost btn-xs">details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- </app-card> -->
