/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 100vh;
  padding-top: 3.5rem;
}

.form-wrapper {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* Tables */

@layer utilities {
  /* Tables */
  table.table-primary {
    @apply border-separate border-spacing-0 rounded-2xl shadow-md pt-14;
  }

  table.table-primary thead {
    @apply h-14;
  }

  table.table-primary th {
    @apply bg-primary text-white m-0 p-3 px-6;
  }

  table.table-primary tr,
  table.table-primary td {
    @apply p-3 px-6;
  }

  table.table-primary td {
    @apply border-b border-gray-200 border-solid;
  }

  table.table-primary thead th:first-child {
    @apply rounded-tl-2xl;
  }

  table.table-primary thead th:last-child {
    @apply rounded-tr-2xl;
  }

  table.table-primary tbody tr:last-child td:first-child {
    @apply rounded-bl-2xl;
  }

  table.table-primary tbody tr:last-child td:last-child {
    @apply rounded-br-2xl;
  }
}

@layer components {
  .table-wrapper {
    @apply overflow-x-auto mt-10 shadow-md rounded-2xl overflow-y-hidden;
  }

  .input {
    @apply focus:border-primary focus:outline-none;
  }
}
